<div class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="title-card">
                <p>Name: {{users.name}}</p>
            </mat-card-title>
            <mat-card-subtitle>
                <p>Date: {{users.date_created | date}}</p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h2>Online shopping will be available soon</h2>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>