<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <p>WELCOME</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Be welcome to our website, here you will find the best
        products for your need! We have the best quality for the best price.</p>
      <p>1-971-diaper, confort@lookafter.com.</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <div id="content-slider">
    <div id="slider">
      <div id="mask">

        <ul>
          <li id="first" class="firstanimation">

            <div>
              <img src="https://picsum.photos/id/1018/113/320" alt="Sunbathing">
              <img src="https://picsum.photos/id/1019/113/320" alt="Sunbathing2" />
              <img src="https://picsum.photos/id/1012/113/320" alt="Sunbathing3" />
              <img src="https://picsum.photos/id/1013/113/320" alt="Sunbathing4" />
              <img src="https://picsum.photos/id/1008/113/320" alt="Sunbathing" />
              <img src="https://picsum.photos/id/1009/115/320" alt="Sunbathing2" />
            </div>
            <div class="tooltip">
              <h1>Cougar</h1>
            </div>
          </li>

          <li id="second" class="secondanimation">
            <div> 
              <img src="https://picsum.photos/id/1020/113/320" alt="Snowalker" />
              <img src="https://picsum.photos/id/1021/113/320" alt="Snowalker" />
              <img src="https://picsum.photos/id/1022/113/320" alt="Snowalker" />
              <img src="https://picsum.photos/id/1023/113/320" alt="Snowalker" />
              <img src="https://picsum.photos/id/1026/113/320" alt="Snowalker" />
              <img src="https://picsum.photos/id/1027/115/320" alt="Snowalker" />
            </div>
            <div class="tooltip">
              <h1>Lions</h1>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>